<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<title>Bienvenido a mi pagina web!</title>
</head>

<body>
	<header>
		<h1>Pagina web para recomendar musica</h1>
		<nav>
			<ul>
				<li><a href="https://youtu.be/L_PSnBsQihM">Linkin Park - Best Music | Full Album</a></li>
				<li><a href="https://youtu.be/k3WkJq478To">Synthwave/Electric Mixtape I | For Study/Relax</a></li>
				<li><a href="https://youtu.be/AgM_Qu2_Jvs">BEST MIXTAPE. Dr Dre, Eminem, Snoop Dogg, 50Cent, Notorious B.IG, NWA .</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section id="seccion1">
			<h2>Canciones populares</h2>
			<p>Descubre las canciones mas pululares del momento en Argentina</p>
			<ol>
				<li><a href="https://youtu.be/9hxzmqpnGb0">BESAME REMIX - BHAVI, SEVEN KAYNE, MILO J, TIAGO PZK, KHEA, NEO PISTEA</a></li>
				<li><a href="https://youtu.be/6O5Wyo6qxrM">Ke Personajes / Que Poco</a></li>
				<li><a href="https://youtu.be/dwOPEnDv9Mw">FMK, Omar Montes, Ana Mena, LIT killah, Rusherking, Mesita - CAMIONETOTA</a></li>
			</ol>
		</section>	
		
		<section id="seccion2">
			<h2>Generos Musicales</h2>
			<h3>Rock</h3>
			<p>Informacion sobre el genero rock</p>
			<h3>Pop</h3>
			<p>Informacion sobre el genero pop</p>
			<h3>Electronica</h3>
			<p>Informacion sobre el genero de electronica</p>
		</section>
		
		<section id="seccion3">
			<h2>Artistas recomendados</h2>
			<table>
				<tr>
					<th>Linkin park</th>
					<th>Album: Tybrid Theory</th>
				</tr>		
				<tr>
					<th>Disturbed</th>
					<th>Album: Indestructible</th>
				</tr>
				<tr>
					<th>Artista:3AM</th>
					<th>Album:-</th>
				</tr>		
			</table>
		</section>
	</main>
	
	<aside>
		<h2>Contenido adicional</h2>
		<p>Enlaces y recursos adicionales relacionados con la musica.</p>
		<ul>
			<li><a href="">Sitio web de noticias musicales</a></li>
			<li><a href="">Blog de reseñas de música</a></li>
			<li><a href="">Foro de discusión sobre música</a></li>
		</ul>
		<img alt="" src="">
	</aside>
	
	<footer>
		<p>Contacto: facu@gmail.com</p>
		<p>Redes sociales:
		<a href="#">Facebook</a>
		</p>
	</footer>
	
</body>

</html>