<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<title>Bienvenido a la Facultad de Ingeniería!</title>
	<link rel="stylesheet" href="../static/css/estilos.css">
</head>

<body>
	<header id="main-header">
		<h1>Página de la Facultad de Ingeniería</h1>
		<nav class="nav-menu">
			<h2>Otras Facultades</h2>
			<ul>
				<li>
					<a href="https://www.universidad.edu/facultad-de-ciencias">
					Facultad de Ciencias
					</a>
				</li>
				<li>
					<a href="https://www.universidad.edu/facultad-de-medicina">
					Facultad de Ciencias
					</a>
				</li>
				<li>
					<a href="https://www.universidad.edu/facultad-de-economia">
					Facultad de Economía
					</a>
				</li>
			</ul>
		</nav>
	</header>
	<main class="main-content">
		<section id="seccion1">
			<h2>Noticias y Eventos</h2>
			<p>Infórmate sobre las últimas noticias y eventos en la Facultad de Ingeniería.</p>
			<ol>
				<li><a href="https://www.facultadingenieria.edu/noticias/conferencia-ingenieria">
					Conferencia Internacional de Ingeniería 2024
					</a>
					<img src="../static/image/conferencia_ingenieria.jpg" alt="Conferencia Internacional de Ingeniería">
				</li>
				
				<li>
					<a href="https://www.facultadingenieria.edu/noticias/feria-empleo">
					Feria de Empleo para Ingenieros 2024
					</a>
					<img src="../static/image/feria_empleo2.jpg" alt="Feria de Empleo">
				</li>
				
				<li>
					<a href="https://www.facultadingenieria.edu/noticias/Seminario-Internacional">
					Seminario Internacional: Parques Científicos Tecnológicos
					</a>
					<img src="../static/image/seminario_internacional.jpg" alt="Seminario de Tecnología">
				</li>
			</ol>
		</section>	
		
		<section id="seccion2" class="content-section">
			<h2>Departamentos Académicos</h2>
			<h3>Departamento de Ingeniería Civil</h3>
			<p>El Departamento de Ingeniería Civil ofrece programas de grado y posgrado en diversas 
			especialidades de la ingeniería civil. Los estudiantes tienen la oportunidad de participar
			en proyectos de investigación y prácticas profesionales, lo que les permite aplicar sus 
			conocimientos teóricos en situaciones del mundo real.
			</p>
			<h3>Departamento de Ingeniería Eléctrica</h3>
			<p>El Departamento de Ingeniería Eléctrica se centra en la enseñanza e investigación 
			en áreas como sistemas eléctricos, energías renovables, y más. Los estudiantes pueden 
			participar en laboratorios de última generación y colaborar con la industria en proyectos innovadores.
			</p>
			<h3>Departamento de Ingeniería de Sistemas</h3>
			<p>El Departamento de Ingeniería de Sistemas aborda temas como programación, 
			desarrollo de software, inteligencia artificial, y sistemas de información. 
			Nuestro enfoque integral prepara a los estudiantes para enfrentar los desafíos tecnológicos 
			del futuro, con una sólida base en teoría y práctica.
			</p>
		</section>
		
		<section id="seccion3" class="content-section">
			<h2>Profesores Destacados</h2>
			<table>
				<tr>
					<th>Profesora: Dra. Carolina Apaza </th>
					<th> - </th>
					<th> Departamento: Ingeniería Civil</th>
				</tr>		
				<tr>
					<th>Profesor: Dr. Ariel Vega </th>
					<th> - </th>
					<th>Departamento: Ingeniería Eléctrica</th>
				</tr>
				<tr>
					<th>Profesor: Dr. Juan Carlos</th>
					<th> - </th>
					<th>Departamento: Ingeniería de Sistemas</th>
				</tr>		
			</table>
		</section>
	</main>
	
	<aside class="additional-content">
		<h2>Contenido adicional</h2>
		<p>Enlaces y recursos adicionales relacionados con la facultad. Aprovecha estos recursos para mejorar tu experiencia académica y profesional.</p>
		<ul class="section-list">
			<li><a href="https://www.facultadingenieria.edu/biblioteca">Biblioteca Digital</a> - Accede a una amplia gama de libros, revistas y artículos científicos desde cualquier lugar.</li>
			<li><a href="https://www.facultadingenieria.edu/laboratorios">Laboratorios</a> - Conoce los laboratorios equipados con tecnología de punta para apoyar tu aprendizaje práctico.</li>
			<li><a href="https://www.facultadingenieria.edu/foro">Foro de Discusión</a> - Únete a las discusiones con compañeros y profesores sobre temas de interés en ingeniería.</li>
		</ul>
	</aside>
	
	<footer id="main-footer">
		<p>Contacto: contacto@facultadingenieria.edu</p>
		<p>Redes sociales:
		<a href="https://www.facebook.com/facultadingenieria">Facebook</a>
		</p>
	</footer>
	
</body>

</html>